@media (max-width: 991px) {

   header .visible-lg {
        display: none;
    }

    .m-menu-link {
        display: block;
    }

    .footer-menu > ul > li:nth-child(5) {
        margin-top:30px;
    }

    .footer-menu > ul > li:nth-child(5) > a {
        margin: 0;
    }
}

@media (max-width: 920px) {

    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-top: 3rem;
    }

    .footer-menu > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        line-height: 1.4rem;
    }

    .footer-menu > ul > li {
        margin-top: 15px;
    }

    .footer-menu-link {
        font-size: 2rem;
    }

    .footer-menu > ul > li:nth-child(6) {
        margin: 25px 0 10px;

    }

    .footer > .logo > img {
        margin-top: 10px;
    }

}

@media (max-width: 901px) {

    .table {
        padding: 3rem 2rem;
    }

    .price-tags {
        flex-direction: column;
        align-items: center;
    }

    .price-tag {
        width: 70%;
    }


    .why-misocial {
        padding:3rem 2rem;
    }

}

@media (max-width: 766px) {

    .main-text h1 {
        font-size: 8rem;
    }

    .main-text p {
        font-size: 1.5rem;
    }
}

@media (max-width: 672px) {
    .image-area {
         flex: 0 0 50%;
    }
}


@media (max-width: 555px) {

    .image-area {
        flex: 0 0 300px;
    }

    .main {
        height: auto;
        min-height: 500px;
    }

    .main-text p {
        padding: 0 10px;
    }

    .table {
        height: auto;
    }

    .table-header p {
        width: auto;
        padding: 0 10px;
    }

    .cta-btn {
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .footer-get-started {
        font-size: 1.5rem;
    }

    .price-tag {
        margin-top: 10px;
        height: auto;
        width: 90%;
    }

    .legal {
        flex-direction: column;
        align-items: center;
    }

    .legal > .social-links {
        order: 0;
        margin-top: 10px;
    }

    .legal > .copy {
        order: 1;
        margin-top: 10px;
    }

    .main-text h1 {
        font-size: 5rem;

    }

    .header > .logo > img, .footer > .logo > img {
        width: 165px;

    }

}

@media (max-width: 325px) {
    .price-tag {
        width: auto;
    }

    .table {
        height: auto;
    }

    .header .logo > img {
        display: none;
    }

    .main-text span:before, .main-text span:after {
        display: none;
    }

    .footer-menu {
        width: auto;
    }

    .copy p {
        text-align: center;
    }
}

@media (max-height: 477px) {
    .table {
        height: auto;
    }

}

@media (max-width: 350px) {
    .m-menu .menu-link {
        font-size: 2rem;
    }

    .m-menu .wrapper {
        line-height: 3rem;
    }

    .m-menu .get-started-btn {
        padding: 5px 14px;
    }

}
